<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="add-customer">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" id="name" placeholder="producer"></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="text" id="email" placeholder="model"></td>
        </tr>
        <tr>
            <td>phone:</td>
            <td><input type="text" id="phone" placeholder="price"></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" id="address" placeholder="price"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Add" onclick="addNewCustomer()"></td>
        </tr>
    </table>
</form>
<h1>Smartphone List</h1>
<table id="smartphoneList">
    <thead>
    <tr>
        <td>name</td>
        <td>email</td>
        <td>phone</td>
        <td>address</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer: ${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.address}"></td>
            <td><a class="deleteCustomer" th:href="${customer.getId()}">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<!--Edit-->

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    function addNewCustomer() {
        let name = $('#name').val();
        let email = $('#email').val();
        let phone = $('#phone').val();
        let address = $('#address').val();

        let newCustomer = {
            name:name,
            email:email,
            phone:phone,
            address:address
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type : "POST",
            data : JSON.stringify(newCustomer),
            url : "/customers",
            success: function (customer) {
                $('#smartphoneList tbody').prepend(' <tr>\n' +
                    '      <td>'+ customer.name+'</td>\n' +
                    '      <td>'+ customer.email+'</td>\n' +
                    '      <td>'+ customer.phone+'</td>\n' +
                    '      <td>'+ customer.address+'</td>\n' +
                    '      <td><a class="deleteCustomer" href="'+customer.id+'">Delete</a></td>\n' +
                    '    </tr>')
            }
        });
        event.preventDefault();
    }

    $(document).ready(function () {
        //sư kiện nào thực hiện Ajax
        $('.deleteCustomer').click(function (event) {
            //lay du lieu
            let a = $(this);
            let customerId = a.attr("href");
            // goi ajax
            $.ajax({
                type: "DELETE",
                //tên API
                url: `/customers/${customerId}`,
                //xử lý khi thành công
                success: function (data) {
                    a.parent().parent().remove();
                }
            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        });
    })

</script>
</html>